executable = f230_c1_Jupiter.sh

log = f230_c1_Jupiter.log
output = f230_c1_Jupiter.out
error = f230_c1_Jupiter.err
stream_error = True
stream_output = True

should_transfer_files = Yes
transfer_input_files = ../../../source/htcondor_ex/dist/pmpm-20230718-Linux-x86_64-OpenMPI.tar.gz,../src/run_planet_sims_pipeline.py
transfer_output_files = schedules,out_f230_c1_Jupiter
when_to_transfer_output = ON_EXIT

request_cpus = 16
request_memory = 32999
request_disk = 32G

queue
